@font-face {
    font-family: "gFont";
    src: url("font/Pretendard-Regular.ttf") format('truetype');
}
* {
    box-sizing: border-box;
    border: 0px;
    padding: 0px;
    margin: 0px;
    font-family: "gFont";
}
body {
    box-sizing: border-box;
    border: 0px;
    padding: 0px;
    margin: 0px;
}
/*로고영역*/
#logoSection {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*네비바영역*/
#navSeciton {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
}
nav {
    background-color: #FC5230;
    border: 1px solid rgba(128, 128, 128, 0.438);
}
#navBox {
    width: 100%; 
    display: flex; 
    justify-content: space-evenly;
}
.nav-item {
    padding: 0px 5px;
}
.nav-link {
    color: white;
}
.nav-link:focus, .nav-link:hover {
    color: yellow;
}
@media (max-width: 992px) {
    #navSeciton {
        width: 100%;
    }
    nav {
        border-radius: 0px;
        border: none;
    }
    #navBox {
        width: 100%; 
        display: flex; 
        justify-content: left
    }
    #navbarSupportedContent {
        margin-top: 20px;
    }
    .nav-item {
        width: 100%;
    }
    .nav-link {
        padding-left: 10px;
    }
}

/*박스영역*/
#boxSection {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (max-width: 992px) {
    #boxSection {
        width: 100%;
    }    
} 

/*배너영역*/
#bannerSection {
    width: 50%;
    border: 2px solid white;
} 
#bannerSection > a > img {
    width: 100%;
    height: auto;
}
#bannerSection > a > img:hover{
    filter: opacity(70%);
}
@media (max-width: 1500px) {
    #bannerSection {
        width: 100%;
    }    
}    

/*카톡영역*/
#katalkSection {
    width: 50%;
    /* padding-top: 25px;
    padding-bottom: 25px; */
    text-align: center;
    border: 2px solid white;   
}
#katalkSection > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-decoration: none;
    width: 100%;
}
@media (min-width:992px) {
    #katalkSection > div {
        height: 50%;
    }
} 
.box1 {
    background-image: url(mainimage/bg1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box1 > p {
    font-size: 20px
}
.box2 {
    width: 100%;
    background-color: #212529;
}
.box2  > img {
    height: 100%;
}
.box2  > img:hover  {
    filter:brightness(130%);
}
#katalkSection > div > h1 {
    color: white;
    text-decoration: none;
}
#katalkSection > div > a > button {
    width: 100%;
    max-width: 400px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10rem;
    color: black;
}
#katalkSection > div > a > button:hover {
    background-color: #0c0e0f;
    color: white;
}
@media (max-width: 1500px) {
    #katalkSection {
        width: 100%;
        margin-top: 25px;
    }   
    
} 
.percent {
    animation-name: color3;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    font-size: 84px;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px;
}
@keyframes color3 {
    0% {
        color: white;
        
    }
    100% {
        color: rgb(255, 0, 0);
    }
}


/*배너영역2*/
#bannerSection2 {
    width: 100% ;
    border: 2px solid white; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#bannerSection2 > img {
    width: 33%;
}
#bannerSection2 > img:hover {
    filter: opacity(70%);
}
@media (max-width: 1500px) {
    #bannerSection2 > img {
        width: 100%;
    }  
    
} 

/* 알림영역
#alretSection {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    word-wrap: break-word;
    background-color: black;
    padding: 5px 10px;
    color: white;
}
@media (max-width: 992px) {
    #alretSection {
        width: 100%;
    }    
}   */


/*푸터 영역*/
footer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #212529;
    border: 2px solid white;
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 20px;
}
footer > p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}
@media (max-width: 992px) {
    footer {
        width: 100%;
    }
}
#개인정보처리방침, #이메일무단수집거부, #이용약관, #a2 ,#a3, #a4, #a5{
    margin: 5px;
    background-color: #0c0e0f;
    color: white;
    padding: 1px 2px;
}
#개인정보처리방침:hover, #이메일무단수집거부:hover, #이용약관:hover, #a2:hover ,#a3:hover, #a4:hover, #a5:hover {
    margin: 5px;
    background-color: white;
    color: #0c0e0f;
    padding: 1px 2px;
}
